{% extends "layout.html" %}
{%block content%}
<div class="container-fluid home-cont">
  <div class="left gallery">

  </div>
  <div class="right">
    <figure class="robot d-flex justify-content-center">
      <img src="static\images\robot.png" alt="robot=icon">
    </figure>
    <h2>Need to talk?</h2>
    <p>Robo is here to be your personal self-care expert</p>
    <div class="d-flex justify-content-center"><button class="coa-btn"><a class="" href="{{ url_for('register')}}">Get Started</a></button></div>
  </div>


</div>
{%endblock content%}
